// Global Colors
$night-rider: #333333;
$white: white;

// Navigation colors
$nav-background: $night-rider;
$nav-text-color: $white;

// Clock Variables
$clock-text-color: $white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
